.card{
    display: flex;
    width: 800px;
    height: fit-content;
    background-color: rgb(124, 157, 146);
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

@media (max-width: 1050px){
    .card{
        width: 600px;
        border-radius: 8px;
    }
}

@media (max-width: 800px){
    .card{
        width: 400px;
        border-radius: 8px;
    }
    h1{
        font-size: 1.5em;
    }
}

@media (max-width: 580px){
    .card{
        width: 280px;
        border-radius: 8px;
    }
    h1{
        font-size: 1.2em;
    }
    p{
        font-size: 0.9em;
    }
}